target/**
indexDirectory/**
IndexDirectory/
.settings/
.classpath
.project
allCountries.zip
allCountries.txt
!.gitignore
.DS_Store
/target
src/test/resources/evaluation
Evaluator.java
StanfordExtractor.java