target/**
indexDirectory*/**
IndexDirectory*/
.settings/
.classpath
.project
.idea
clavin.iml
allCountries.zip
allCountries.txt
!.gitignore
.DS_Store
/target
src/test/resources/evaluation
Evaluator.java
StanfordExtractor.java
/dependency-reduced-pom.xml
hierarchy.txt
